// @import url(../content/font/fonts.css);

:root {

  // COLORS
  --color_1: #d9dcd8;
  --color_1t: #d9dcd8bb;
  --color_2: #9ba747;
  --color_2t: #9ba7478c;
  --color_3: #f29d4b;
  --color_3t: #f29d4b8c;
  --color_4: #d57030;
  --color_4t: #d570308c;
  --color_5: #8b281f;
  --color_5t:#8b281f8c;
  --color_6:#104960;

  --shadow: rgba(0, 0, 0, 0.2);

    // Button
  --color_font_button_A: var(--color_6);
  --color_button_A: var(--color_2);
  --color_button_A_hover: var(--color_3);

  --color_font_button_B: var(--color_5);
  --color_button_B: var(--color_4);
  --color_button_B_hover: var(--color_3);

  // Link
  --color_link: var(--color_4);
  --color_link_hover: var(--color_5);
  --bg_link_hover: var(--color_2);

  // Background
  --bg-header: var(--color_1t);
  --bg-footer: var(--color_2);
  --bg-main: va(--color_6);

  // FONTS

    // Family
      --font_text: 'lato-thin';
      --font_title: 'Didot';

    // Weight
      --thin: 100;
      --extraLight: 200;
      --light: 300;
      --regular: 400;
      --medium: 500;
      --semiBold: 600;
      --bold: 700;
      --extraBold: 800;
      --black: 900;

    // Size
    --14: 14px;
    --16: 16px;
    --18: 18px;
    --22: 22px;
    --24: 24px;

  /* MAX-WIDTH */
    --width-xs: 100%;
    --width-xs-container: 90%;
    --width-m: 100%;
    --width-m-container: 90%;
    --width-t: 100%;
    --width-t-container: 90%;
    --width-d: 100%;
    --width-d-container: 1054px;

  // BACKGROUND
}

body{
  background-color: var(--color_1);
  font-family: var(--font_text);
  color: var(--color_font);
}
main {
  padding-top: 150px;
}
// a{
//   color: var(--color_link);
//   &:hover{
//     color: var(--color_link_hover);
//   }
// }


// MIXINS

@mixin buttonA{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color_button_A);
  border: var(--color_button_A_hover) 1px solid;
  color:var(--color_font_button_A);
  font-size: var(--18);
  line-height: var(--22);
  border-radius: calc(3 * var(--22));
  text-align: center;
  padding: var(--22);
}

@mixin buttonB {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color_button_B);
  border: var(--color_button_B_hover) 1px solid;
  color: var(--color_font_button_B);
  font-size: var(--16);
  line-height: var(--18);
  border-radius: calc(3 * var(--18));
  text-align: center;
  padding: var(--16);
}

/************************ TIPOGRAFÍAS *************************/

@mixin menuFont {
  font-family: var(--font_text);
  font-size: var(--22);
  color: var(--color_5);
  font-weight: var(--regular);
  &:hover{
    color: var(--color_4)
  }
}

@mixin smallFont {
font-family: var(--font_text);
font-size: var(--18);
color: var(--color_6);
font-weight: var(--light);
}

@mixin bigFont {
font-family: var(--font_text);
font-size: var(--22);
color: var(--color_6);
font-weight: var(--light);
}

@mixin BigestFont {
  font-family: var(--font_text);
  font-size: var(--24);
  color: var(--color_6);
  font-weight: var(--semiBold);
}

@mixin subtitleFont {
  font-family: var(--font_title);
  font-size: var(--24);
color: var(--color_6);
font-weight: var(--bold);
}

@mixin titleFont{
font-family: var(--font_title);
font-size: 28px;
color: var(--color_6);
font-weight: var(--regular);
}

/************************CLASES COMUNES*************************/

.active {
  text-decoration: underline !important;
}

.pointer {
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: initial !important;
}
