.header{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  height: 80px;
  background-color: var(--bg-header);
  color: var(--color_1);
  &__menu{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px;
    gap: 20px;
    background-color: var(--bg-menu);
  }
}

.menu-link{
  color: var(--color_link);
  font-weight: var(--w-thin);
  font-size: var(--font-medium);
}
.menu-link:hover{
    color: var(--color_link_hover);
    font-weight: var(--w-bold);
}

.active{
  font-weight: var(--w-medium);
}

@media all and (min-width: 481px){

}
@media all and (min-width: 768px){

}
@media all and (min-width: 1280px){
  .header{
    &__menu{
      padding: 0;
      max-width: var(--max-width-desktop);
    }
  }
}
@media all and (min-width: 1440px){
  
}