.main__home{
    background-image: linear-gradient(to bottom, var(--color_2) 1%, transparent 50%), linear-gradient(to right, var(--color_2) 5%, transparent 50%), url("../../content/img/fotor-ai-artistic.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 120px);
}